In [1]:
import pandas as pd

In [2]:
df_Now_TV = pd.read_csv('/Users/elynyang/Desktop/Final project/dataset/full_analytics_redis_filtered.csv')

In [3]:
df_Now_TV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1709 entries, 0 to 1708
Columns: 2883 entries, videoConsumption[0] to chaId
dtypes: int64(2881), object(2)
memory usage: 37.6+ MB

In [4]:
df_Now_TV.head()

,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],videoConsumption[9],...,impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439],date,chaId
0,85397,87315,89031,88648,85774,85631,86269,85046,83065,81249,...,9070,6732,8027,8119,7375,7552,7159,4486,12-10-2020,2iLhi7EeEq
1,119468,109123,110032,106145,104353,102839,101596,100038,99720,101066,...,8608,7069,6932,7068,6020,11227,10697,6459,13-10-2020,2iLhi7EeEq
2,70199,68917,69915,70479,70402,70725,70283,69626,68716,68228,...,3799,5032,4096,4107,4255,5424,4198,4560,05-05-2019,2iLhi7EeEq
3,80296,75154,67027,67533,69108,66656,66684,67952,66936,66640,...,6470,5209,5133,4829,6135,6219,6532,5783,07-05-2019,2iLhi7EeEq
4,76847,66579,59618,58436,58899,58723,56738,55604,54775,53346,...,7857,7638,7825,7264,6589,6026,7242,5934,20-05-2019,2iLhi7EeEq

In [5]:
df_Now_TV['date'] = pd.to_datetime(df_Now_TV['date'], format='%d-%m-%Y')

In [6]:
df_Now_TV.head()

,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],videoConsumption[9],...,impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439],date,chaId
0,85397,87315,89031,88648,85774,85631,86269,85046,83065,81249,...,9070,6732,8027,8119,7375,7552,7159,4486,2020-10-12,2iLhi7EeEq
1,119468,109123,110032,106145,104353,102839,101596,100038,99720,101066,...,8608,7069,6932,7068,6020,11227,10697,6459,2020-10-13,2iLhi7EeEq
2,70199,68917,69915,70479,70402,70725,70283,69626,68716,68228,...,3799,5032,4096,4107,4255,5424,4198,4560,2019-05-05,2iLhi7EeEq
3,80296,75154,67027,67533,69108,66656,66684,67952,66936,66640,...,6470,5209,5133,4829,6135,6219,6532,5783,2019-05-07,2iLhi7EeEq
4,76847,66579,59618,58436,58899,58723,56738,55604,54775,53346,...,7857,7638,7825,7264,6589,6026,7242,5934,2019-05-20,2iLhi7EeEq

In [7]:
# Collate data based on time granularity

# Separate minute - based data
minute_columns = [f'videoConsumption[{i}]' for i in range(1440)] + [f'impression[{i}]' for i in range(1440)]
df_minute = df_Now_TV[['date'] + minute_columns]
# Separate day - based data
df_ud = df_Now_TV[['date', 'uniqueDevice']]

# Sort by date
df_minute = df_minute.sort_values(by='date')
df_ud = df_ud.sort_values(by='date')

In [8]:
df_minute.head()

,date,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],...,impression[1430],impression[1431],impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439]
42,2019-04-18,0,0,0,0,0,0,0,0,0,...,6496,5912,5044,3998,4318,3665,8030,5677,10148,5739
21,2019-04-19,68159,66290,66762,67598,66663,65923,65394,65134,64518,...,5671,5383,4414,4648,4011,3342,5612,4758,5864,13732
53,2019-04-20,24774,25510,28455,30653,31654,31873,32020,31892,32317,...,16691,14502,13493,9115,7635,6598,6638,6871,6066,5897
15,2019-04-21,81054,80103,80995,82249,83469,81919,80335,79255,79146,...,10815,12247,11183,8807,10087,10708,9373,9469,8450,7507
29,2019-04-22,35594,59330,53989,54008,51681,49985,48564,47221,46098,...,8083,8214,6094,6096,6017,7004,6815,7863,6117,5516

In [9]:
df_ud.head()

         date  uniqueDevice
42 2019-04-18        219345
21 2019-04-19        835122
53 2019-04-20        853761
15 2019-04-21        893020
29 2019-04-22        840598

In [10]:
# Process videoConsumption and impression data separately
video_columns = [col for col in df_minute.columns if 'videoConsumption' in col]
impression_columns = [col for col in df_minute.columns if 'impression' in col]

# Transform the DataFrame into a long format
df_video = df_minute.melt(id_vars=['date'], value_vars=video_columns, var_name='minute', value_name='videoConsumption')
df_impression = df_minute.melt(id_vars=['date'], value_vars=impression_columns, var_name='minute', value_name='impression')

# Extract minute numbers: extract '1' from a string like 'videoConsumption[1]'
df_video['minute'] = df_video['minute'].str.extract('\[(\d+)\]').astype(int)
df_impression['minute'] = df_impression['minute'].str.extract('\[(\d+)\]').astype(int)

# Merge video and impression data
df_merged = pd.merge(df_video, df_impression, on=['date', 'minute'], how='outer')

# Convert the date to a string format to ensure it can be correctly merged with the time string
df_merged['date'] = df_merged['date'].astype(str)
df_merged['time'] = df_merged['minute'].apply(lambda x: f"{x // 60:02}:{x % 60:02}:00")

# Create a complete datetime column based on the date and minute
df_merged['datetime'] = pd.to_datetime(df_merged['date'] + ' ' + df_merged['time'])

# Drop columns that are no longer needed
df_merged = df_merged.drop(columns=['date', 'minute', 'time'])

# Select and order the final columns
df_minute_new = df_merged[['datetime', 'videoConsumption', 'impression']]

# Sort the DataFrame
df_minute_new = df_minute_new.sort_values(by='datetime')

In [11]:
df_minute_new.describe()

       videoConsumption    impression
count      2.460960e+06  2.460960e+06
mean       7.153201e+04  3.574973e+03
std        8.325697e+04  3.556156e+03
min        0.000000e+00  0.000000e+00
25%        1.737900e+04  9.130000e+02
50%        4.570500e+04  2.831000e+03
75%        8.780100e+04  4.776000e+03
max        9.934950e+05  7.363900e+04

In [12]:
# Save transformed dataset
df_minute_new.to_csv('/Users/elynyang/Desktop/Final project/dataset/df_minute_new.csv', index=False)
df_ud.to_csv('/Users/elynyang/Desktop/Final project/dataset/df_ud.csv', index=False)