In [2]:
import pandas as pd

In [3]:
df_Kanal_D = pd.read_csv('/Users/elynyang/Desktop/Final project/dataset/Additional channels/Kanal_D.csv')

In [4]:
df_Kanal_D.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549 entries, 0 to 1548
Columns: 2883 entries, videoConsumption[0] to chaId
dtypes: int64(2881), object(2)
memory usage: 34.1+ MB

In [5]:
df_Kanal_D.head()

,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],videoConsumption[9],...,impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439],date,chaId
0,81048,69359,60903,57552,27952,54930,53944,52961,52506,51953,...,4530,4536,4103,5607,4459,3947,4151,3582,14-09-2019,AwG6zFgabB
1,63214,63824,66045,68320,68849,68850,68396,68200,67985,67812,...,9563,6561,6250,5290,6167,5658,6181,5553,15-09-2019,AwG6zFgabB
2,47247,46061,45662,45179,45378,44088,44461,44408,43552,41742,...,4868,5383,4240,4182,4350,3757,4125,4219,16-09-2019,AwG6zFgabB
3,24556,24105,22271,20397,20363,19586,19427,19046,18995,18627,...,5806,5498,5829,5911,5115,4543,3904,3256,08-09-2019,AwG6zFgabB
4,61368,61837,55956,52145,49801,48203,47181,23152,45708,44849,...,5118,5686,5259,4605,5443,5023,3748,3781,21-09-2019,AwG6zFgabB

In [7]:
df_Kanal_D['date'] = pd.to_datetime(df_Kanal_D['date'], format='%d-%m-%Y')

In [8]:
df_Kanal_D.head()

,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],videoConsumption[9],...,impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439],date,chaId
0,81048,69359,60903,57552,27952,54930,53944,52961,52506,51953,...,4530,4536,4103,5607,4459,3947,4151,3582,2019-09-14,AwG6zFgabB
1,63214,63824,66045,68320,68849,68850,68396,68200,67985,67812,...,9563,6561,6250,5290,6167,5658,6181,5553,2019-09-15,AwG6zFgabB
2,47247,46061,45662,45179,45378,44088,44461,44408,43552,41742,...,4868,5383,4240,4182,4350,3757,4125,4219,2019-09-16,AwG6zFgabB
3,24556,24105,22271,20397,20363,19586,19427,19046,18995,18627,...,5806,5498,5829,5911,5115,4543,3904,3256,2019-09-08,AwG6zFgabB
4,61368,61837,55956,52145,49801,48203,47181,23152,45708,44849,...,5118,5686,5259,4605,5443,5023,3748,3781,2019-09-21,AwG6zFgabB

In [9]:
# Collate data based on time granularity

# Separate minute - based data
minute_columns = [f'videoConsumption[{i}]' for i in range(1440)] + [f'impression[{i}]' for i in range(1440)]
df_minute = df_Kanal_D[['date'] + minute_columns]
# Separate day - based data
df_ud = df_Kanal_D[['date', 'uniqueDevice']]

# Sort by date
df_minute = df_minute.sort_values(by='date')
df_ud = df_ud.sort_values(by='date')

In [10]:
df_minute.head()

,date,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],...,impression[1430],impression[1431],impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439]
15,2019-09-02,0,0,0,0,0,0,0,0,0,...,7310,12026,6283,5114,4747,4220,4293,3966,3447,3173
12,2019-09-03,53688,54521,56804,58071,58554,59783,61377,63064,64499,...,4598,3452,3839,5108,3702,3653,4038,3722,2848,2164
19,2019-09-04,53417,51254,46643,47311,49441,49403,50280,51831,51641,...,4917,4706,4542,4596,8168,6310,5855,6628,5348,4942
14,2019-09-05,114876,96179,85360,85115,83549,82390,81232,81245,80223,...,4055,3488,3114,2863,3156,3303,3313,3358,3472,3094
5,2019-09-06,10030,19183,19511,19782,20258,20293,20907,21675,20939,...,3881,4833,4571,4164,4038,4259,3802,3645,3179,3222

In [11]:
df_ud.head()

         date  uniqueDevice
15 2019-09-02        616312
12 2019-09-03        659964
19 2019-09-04        687069
14 2019-09-05        668475
5  2019-09-06        664197

In [12]:
# Process videoConsumption and impression data separately
video_columns = [col for col in df_minute.columns if 'videoConsumption' in col]
impression_columns = [col for col in df_minute.columns if 'impression' in col]

# Transform the DataFrame into a long format
df_video = df_minute.melt(id_vars=['date'], value_vars=video_columns, var_name='minute', value_name='videoConsumption')
df_impression = df_minute.melt(id_vars=['date'], value_vars=impression_columns, var_name='minute', value_name='impression')

# Extract minute numbers: extract '1' from a string like 'videoConsumption[1]'
df_video['minute'] = df_video['minute'].str.extract('\[(\d+)\]').astype(int)
df_impression['minute'] = df_impression['minute'].str.extract('\[(\d+)\]').astype(int)

# Merge video and impression data
df_merged = pd.merge(df_video, df_impression, on=['date', 'minute'], how='outer')

# Convert the date to a string format to ensure it can be correctly merged with the time string
df_merged['date'] = df_merged['date'].astype(str)
df_merged['time'] = df_merged['minute'].apply(lambda x: f"{x // 60:02}:{x % 60:02}:00")

# Create a complete datetime column based on the date and minute
df_merged['datetime'] = pd.to_datetime(df_merged['date'] + ' ' + df_merged['time'])

# Drop columns that are no longer needed
df_merged = df_merged.drop(columns=['date', 'minute', 'time'])

# Select and order the final columns
df_minute_new = df_merged[['datetime', 'videoConsumption', 'impression']]

# Sort the DataFrame
df_minute_new = df_minute_new.sort_values(by='datetime')

In [13]:
df_minute_new.describe()

       videoConsumption    impression
count      2.230560e+06  2.230560e+06
mean       4.648299e+04  2.353772e+03
std        5.855460e+04  2.634533e+03
min        0.000000e+00  0.000000e+00
25%        8.627000e+03  4.140000e+02
50%        3.040400e+04  1.810000e+03
75%        5.906200e+04  3.169000e+03
max        6.069230e+05  7.182700e+04

In [14]:
# Save transformed dataset
df_minute_new.to_csv('/Users/elynyang/Desktop/Final project/dataset/Additional channels/df_minute_Kanal_D.csv', index=False)
df_ud.to_csv('/Users/elynyang/Desktop/Final project/dataset/Additional channels/df_ud_Kanal_D.csv', index=False)