In [1]:
import pandas as pd

In [2]:
df_Star_TV = pd.read_csv('/Users/elynyang/Desktop/Final project/dataset/Additional channels/Star_TV.csv')

In [3]:
df_Star_TV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Columns: 2883 entries, videoConsumption[0] to chaId
dtypes: int64(2881), object(2)
memory usage: 12.2+ MB

In [4]:
df_Star_TV.head()

,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],videoConsumption[9],...,impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439],date,chaId
0,0,0,0,0,0,0,0,0,0,0,...,1909,1228,1468,1061,1248,717,651,278,16-06-2022,G24YRzkq2C
1,14276,13703,14385,14162,14236,14022,13723,13623,13416,13129,...,1236,1092,1567,2608,2490,1522,2347,71,17-06-2022,G24YRzkq2C
2,42846,42489,36667,35335,34586,33871,33410,32839,32531,32045,...,2216,2374,1444,1790,2031,1681,2458,590,18-06-2022,G24YRzkq2C
3,39301,39293,38950,39909,40596,41284,42170,42359,43797,44035,...,2270,2758,2544,1848,1542,2385,1578,740,19-06-2022,G24YRzkq2C
4,38026,36552,35756,35321,35816,35809,35264,35393,34906,35016,...,3427,2128,2908,1778,2881,1853,1799,727,20-06-2022,G24YRzkq2C

In [6]:
df_Star_TV['date'] = pd.to_datetime(df_Star_TV['date'], format='%d-%m-%Y')

In [7]:
df_Star_TV.head()

,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],videoConsumption[9],...,impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439],date,chaId
0,0,0,0,0,0,0,0,0,0,0,...,1909,1228,1468,1061,1248,717,651,278,2022-06-16,G24YRzkq2C
1,14276,13703,14385,14162,14236,14022,13723,13623,13416,13129,...,1236,1092,1567,2608,2490,1522,2347,71,2022-06-17,G24YRzkq2C
2,42846,42489,36667,35335,34586,33871,33410,32839,32531,32045,...,2216,2374,1444,1790,2031,1681,2458,590,2022-06-18,G24YRzkq2C
3,39301,39293,38950,39909,40596,41284,42170,42359,43797,44035,...,2270,2758,2544,1848,1542,2385,1578,740,2022-06-19,G24YRzkq2C
4,38026,36552,35756,35321,35816,35809,35264,35393,34906,35016,...,3427,2128,2908,1778,2881,1853,1799,727,2022-06-20,G24YRzkq2C

In [8]:
# Collate data based on time granularity

# Separate minute - based data
minute_columns = [f'videoConsumption[{i}]' for i in range(1440)] + [f'impression[{i}]' for i in range(1440)]
df_minute = df_Star_TV[['date'] + minute_columns]
# Separate day - based data
df_ud = df_Star_TV[['date', 'uniqueDevice']]

# Sort by date
df_minute = df_minute.sort_values(by='date')
df_ud = df_ud.sort_values(by='date')

In [9]:
df_minute.head()

,date,videoConsumption[0],videoConsumption[1],videoConsumption[2],videoConsumption[3],videoConsumption[4],videoConsumption[5],videoConsumption[6],videoConsumption[7],videoConsumption[8],...,impression[1430],impression[1431],impression[1432],impression[1433],impression[1434],impression[1435],impression[1436],impression[1437],impression[1438],impression[1439]
0,2022-06-16,0,0,0,0,0,0,0,0,0,...,2825,1765,1909,1228,1468,1061,1248,717,651,278
1,2022-06-17,14276,13703,14385,14162,14236,14022,13723,13623,13416,...,1323,1890,1236,1092,1567,2608,2490,1522,2347,71
2,2022-06-18,42846,42489,36667,35335,34586,33871,33410,32839,32531,...,3048,3759,2216,2374,1444,1790,2031,1681,2458,590
3,2022-06-19,39301,39293,38950,39909,40596,41284,42170,42359,43797,...,2587,2309,2270,2758,2544,1848,1542,2385,1578,740
4,2022-06-20,38026,36552,35756,35321,35816,35809,35264,35393,34906,...,3481,2822,3427,2128,2908,1778,2881,1853,1799,727

In [10]:
df_ud.head()

        date  uniqueDevice
0 2022-06-16        226838
1 2022-06-17        425245
2 2022-06-18        528550
3 2022-06-19        582860
4 2022-06-20        698976

In [11]:
# Process videoConsumption and impression data separately
video_columns = [col for col in df_minute.columns if 'videoConsumption' in col]
impression_columns = [col for col in df_minute.columns if 'impression' in col]

# Transform the DataFrame into a long format
df_video = df_minute.melt(id_vars=['date'], value_vars=video_columns, var_name='minute', value_name='videoConsumption')
df_impression = df_minute.melt(id_vars=['date'], value_vars=impression_columns, var_name='minute', value_name='impression')

# Extract minute numbers: extract '1' from a string like 'videoConsumption[1]'
df_video['minute'] = df_video['minute'].str.extract('\[(\d+)\]').astype(int)
df_impression['minute'] = df_impression['minute'].str.extract('\[(\d+)\]').astype(int)

# Merge video and impression data
df_merged = pd.merge(df_video, df_impression, on=['date', 'minute'], how='outer')

# Convert the date to a string format to ensure it can be correctly merged with the time string
df_merged['date'] = df_merged['date'].astype(str)
df_merged['time'] = df_merged['minute'].apply(lambda x: f"{x // 60:02}:{x % 60:02}:00")

# Create a complete datetime column based on the date and minute
df_merged['datetime'] = pd.to_datetime(df_merged['date'] + ' ' + df_merged['time'])

# Drop columns that are no longer needed
df_merged = df_merged.drop(columns=['date', 'minute', 'time'])

# Select and order the final columns
df_minute_new = df_merged[['datetime', 'videoConsumption', 'impression']]

# Sort the DataFrame
df_minute_new = df_minute_new.sort_values(by='datetime')

In [12]:
df_minute_new.describe()

       videoConsumption     impression
count     797760.000000  797760.000000
mean       49146.734273    1892.839398
std        78366.261993    2127.479051
min            0.000000       0.000000
25%        13528.000000     548.000000
50%        30901.000000    1399.000000
75%        54625.000000    2422.000000
max       983509.000000   94024.000000

In [13]:
# Save transformed dataset
df_minute_new.to_csv('/Users/elynyang/Desktop/Final project/dataset/Additional channels/df_minute_Star_TV.csv', index=False)
df_ud.to_csv('/Users/elynyang/Desktop/Final project/dataset/Additional channels/df_ud_Star_TV.csv', index=False)